* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 0.625rem; /*10px/8pt*/
    overflow-y: scroll;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gotham SSm', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    background-color: #F1F2F4;
    color: #36373E
}
body {
    margin:0;
    padding: 0;
    font-size: 1.2rem; /*12px*/
    line-height: 2rem;
}

/*login form*/
.paper_signin {
    background-color: #FFFFFF;
    border: 1px solid #DEE0E5;
    color: #36373E;
}
.paper_signin h1 {
    font-weight: 300;
    text-align: center;
    line-height: 2.4rem;
    font-size: 2.4rem;
}

.paper_signin section {
    border-bottom: 1px solid #DEE0E5;
    padding: 2rem;
}
.paper_signin ul {
    list-style-type: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
    margin-bottom: 3rem;
}

.paper_signin li {
    display: table-cell;
    width: 32%;
    text-align: center;
    color: rgb(54, 55, 62)
}

.paper_signin li.secondary_li {
    padding-left: 0.1rem;
}

.paper_signin li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
    padding: 0.4rem 1rem;
    font-size:1rem;
    letter-spacing: 0.15rem;
    text-transform:uppercase;
    background-color: rgb(164,165,173);
    width: 100%;
}

.paper_signin input {
    width: 100%;
}